body {
  font-family: Comfortaa, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: unset;
  width: unset;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e5b86;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

header .navbar.navbar-fixed {
  background: #a02dcf;
}

.svg-wrapper {
  /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
  background-image: linear-gradient(
    180deg,
    #811f7f 0%,
    #811f7f 25%,
    #6e386b 35%,
    #49194a 65%,
    #621f6f 75%,
    #811f7f 100%
  );
}
